{:clojure [[org.clojure/clojure "1.8.0"]
           [org.clojure/core.async "0.2.374"]
           [org.clojure/tools.logging "0.3.1"]
           [org.slf4j/slf4j-nop "1.7.12"]
           [org.clojure/data.json "0.2.6"]]

 :common [[com.novemberain/validateur "2.5.0"]
          [metosin/compojure-api "1.1.6"]
          [com.stuartsierra/component "0.3.1"]
          [walmartlabs/system-viz "0.1.1"]
          [clj-time "0.11.0"]
          [clj-stacktrace "0.2.8"]
          [pandect "0.5.4"]
          [com.taoensso/timbre "4.3.1"]
          [commons-codec/commons-codec "1.9"]
          [clj-aws-s3 "0.3.10" :exclusions [joda-time]]
          [mvxcvi/puget "1.0.0"]
          [clj-http "2.1.0"]
          [byte-streams "0.2.2"]
          [weareswat/request-utils "0.7.0"]
          [compojure "1.5.0"]
          [environ "1.0.2"]]

 :document-generation [[dk.ative/docjure "1.10.0"]]

 :postgres [[postgresql "9.3-1102.jdbc41"]
            [clanhr/postgres-gateway "1.12.1" :exclusions [[io.netty/netty-handler]]]
            [ragtime "0.6.0"]]

 :ring [[ring/ring-core "1.4.0"]
        [ring/ring-jetty-adapter "1.4.0"]
        [ring/ring-json "0.4.0"]
        [ring/ring-codec "1.0.0"]
        [ring-cors "0.1.7"]]

 :aleph [[potemkin "0.4.3"]
         [aleph "0.4.1"]]

 :security [[org.bouncycastle/bcprov-jdk15on "1.54"]
            [clj-jwt "0.1.1"]
            [buddy/buddy-core "0.11.0"]
            [buddy/buddy-hashers "0.13.0"]]

 :clanhr [[clanhr/auth "1.27.0"]
          [clanhr/result "0.16.0"]
          [clanhr/i18n "2.32.0"]
          [clanhr/reply "1.1.1"]
          [clanhr/validators "0.6.0"]
          [clanhr/clanhr-api "1.12.0"]
          [clanhr/memory-gateway "0.9.0"]
          [clanhr/logger "0.5.0"]
          [clanhr/file-management "0.7.4" :exclusions [joda-time]]
          [clanhr/ical "0.1.2"]
          [clanhr/work-days "0.10.1"]
          [clanhr/ring-test-client "0.4.0"]
          [clanhr/analytics "2.0.0"]
          [clanhr/new-reliquary "1.0.1"]]}
